@import url('./Lato-Light.ttf');
@import url('./Cocogoose\ Pro\ Semilight-trial\ \(1\).ttf');

#main1 {
  background-image: url(./pages/images/main11.png);
  box-shadow: inset 0 0 0 1000px rgb(198 192 191 / 80%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'lato', sans-serif;
}

#popup {
  display: none;
}

#popup {
  position: fixed;
  backdrop-filter: blur(3px);
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(154, 155, 168, 0.903);
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 2;
}

#cross-icon {
  padding-top: 78px;
  padding-left: 325px;
}

.style-li {
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  color: rgb(255, 255, 255);
}

.li-nav {
  color: rgb(52, 69, 99);
  font-weight: 500;
  font-size: x-large;
}

#main2 {
  background-image: url(./images/main2.jpg);
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 80px;
}

.mainText {
  color: #e44141;
}

.mainPara > p {
  width: 43%;
  border-style: solid;
  padding: 10px;
}

.nav2 > li {
  padding-left: 80px;
}

.navLogout {
  padding-right: 30px;
}

#logoMain {
  width: 54%;
}

.cpyrt {
  padding-top: 50px;
  color: white;
}

.cpyrt1 {
  padding-top: 50px;
  color: black;
}

.card-img {
  display: flex;
  justify-content: center;
}

.prgrmCard {
  background-color: rgba(33, 33, 36, 0.603);
  width: 100%;
  padding: 8px;
}

#prgrmHearder {
  text-align: center;
}

#prgrmHr {
  width: 15%;
  margin: auto;
  border: 1px solid red;
  opacity: unset;
}

#prgrmCol1 {
  padding-left: 300px;
}

#prgrmCol2 {
  padding-right: 300px;
}

.prgrmTitle {
  color: #c80000;
  text-align: center;
  padding-top: 8px;
}

.imagePast {
  width: 30%;
  box-shadow: inset 0 0 0 1000px rgba(179, 43, 19, 0.8);
}

.imgPast1 {
  background-image: url(./images/past2015.jpg);
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 1000px rgb(219 110 90 / 80%);
  height: 18rem;
  height: 15rem;
  width: 24rem;
  width: 26rem;
  margin-bottom: 2rem;
  color: aliceblue;
  display: flex;

  align-items: center;
}

.data-center {
  margin: 30px 146px 2rem 198px;
}

.imgPast2 {
  background-image: url(./images/past2015.jpg);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: 18rem;
  width: 26rem;
  color: aliceblue;
  margin-bottom: 2rem;
  display: flex;
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 1000px rgb(219 110 90 / 80%);
  flex-direction: column;

  height: 15rem;
  width: 24rem;
}

.card-text {
  color: white;
}

.spekrCard {
  display: flex;
  flex-direction: row;
  background: unset;
  border: none;
  margin-bottom: 40px;
}

.textSection3 {
  text-align: center;
  width: 40%;
}

.card-body {
  padding: 0;
}

.spekrHeading {
  color: red;
  font-style: italic;
}

.spekrImg {
  width: -webkit-fill-available;
}

.spekrImg > img {
  position: absolute;
  top: 20px;
  left: 25px;
  margin: -10px;
}

.spekrImg1 {
  z-index: 1;
  width: 12%;
}

.spekrImg2 {
  z-index: 3;
  width: 30%;
  padding: 12px;
}

#spekrHr {
  width: 8%;
  border: 2px solid silver;
  opacity: unset;
}

.Partner > img {
  margin-right: 36px;
  width: 20%;
}

#layer1 {
  display: none;
}

.moreDiv {
  display: none;
}

.footer {
  background-color: black;
}

@media (max-width: 640px) {
  .nav1 {
    display: none;
  }

  .navbar-brand {
    display: none;
  }

  .mainPara > p {
    width: 100%;
  }

  .prgrmCard {
    display: flex;
    flex-direction: row;
  }

  /* .prgrmCard > div {
    width: 20%;
  } */

  .prgrmCol {
    padding: 10px;
    flex: none;
  }

  #prgrmCol1 {
    padding-left: 10px;
    padding-top: 1px;
  }

  #prgrmCol2 {
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .card-img {
    width: 20%;
  }

  .card-img > i {
    padding-top: 2px;
  }

  .prgrmTitle {
    padding-top: 15px;
    padding-left: 4px;
  }

  .card-body {
    width: auto;
    padding-left: 20px;
  }

  .textSection3 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }

  #logo2 {
    width: 50%;
    height: 50%;
    padding-top: 25px;
  }

  .cpyrt {
    padding: 10px;
    color: black;
  }
  .cpyrt1 {
    padding: 10px;
  }

  .spekrImg {
    margin: 28px;
  }

  .moreDiv {
    display: flex;
  }

  #layer {
    display: none;
  }

  #layer1 {
    display: block;
  }

  .imgPast1 {
    width: 100%;
    height: 15rem;
  }

  .imgPast2 {
    width: 100%;
    height: 15rem;
  }

  .data-center {
    margin: 1px;
  }

  .footer {
    background-color: white;
  }

  #popup {
    position: fixed;
    backdrop-filter: blur(3px);
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(154, 155, 168, 0.903);
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
  }

  #menyOptions {
    display: none;
  }
}
